@counter-style circled-upper-latin {
	system: fixed;
	symbols: '\24B6' '\24B7' '\24B8' '\24B9' '\24BA' '\24BB' '\24BC' '\24BD' 
	'\24BE' '\24BF' '\24C0' '\24C1' '\24C2' '\24C3' '\24C4' '\24C5' '\24C6' 
	'\24C7' '\24C8' '\24C9' '\24CA' '\24CB' '\24CC' '\24CD' '\24CE' '\24CF';
	suffix: ' ';
}
@page {
	size: A4 portrait;
	margin: 0;
/*
	@bottom-right {
		content: counter(page) "/" counter(pages);
	}
*/
}
@media print {
	html, body {
		width: 210mm;
		height: 297mm;
	}
}
* {
	font-family: sans-serif;
}
body, html {
	height: 100%;
	margin: 0;
}
table {
	counter-reset: Numbering;
	table-layout: fixed;
	border-collapse: collapse;
	margin-left: auto; margin-right: auto;
}
table th {
	padding: 5px;
}
thead tr {
	counter-reset: Header;
}
thead th[scope="col"]::before {
	counter-increment: Header;
	content: counter(Header, upper-alpha);
}
tbody tr {
	counter-reset: Choices;
	border: 1px solid #aaa;
}
tbody th {
	border-right: 1px solid #aaa;
}
/* table th[scope="row"]::before */
tbody th::before {
	counter-increment: Numbering;
	content: counter(Numbering);
}
tbody td {
	text-align: center;
	padding: 5px;
	background: #fff;
	color: #303030;
}
tbody td::before {
	counter-increment: Choices;
	content: counter(Choices, circled-upper-latin);
	font-size: 1.5em; font-weight: bold;
}
